<h2 class="text-center">
    Title: <%= @article.title %>
</h2>
<div class="well col-xs-8 col-xs-offset-2">
    <div id="user-info-showpage" align="center">
        Created by: <%= render 'shared/user-info', obj: @article.user %>    
    </div>    
    <h4 class="text-center">
        <strong>Description:</strong>         
    </h4>
    <hr />
    <%= simple_format(@article.description) %>
    <% if @article.categories.any? %>
        <p>Categories: <%= render @article.categories %></p>      
     <% end %>
        <div class="article-actions">  
            <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
                 <%= link_to "Delete", article_path(@article), method: :delete, 
                 data: {confirm: "Are you sure you want to delete the article?"}, 
                 class: 'btn btn-xs btn-danger' %>
                 <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-xs btn-success'%>
            <%end%> 
            <%= link_to "View All Articles", articles_path  , class: 'btn btn-xs btn-primary'%> 
        </div> 
</div> 
<div class="col-xs-8 col-xs-offset-2">
    <%= render partial: 'comments/form', :locals => {commentable:   @article} %>
</div>
<div class="col-xs-8 col-xs-offset-2"> 
    <% @article.comments.each do |c| %>
     
        <div class="well">           
                <%= c.content %>   by 
                <%= c.commenter %>
           
        </div>        
    <%end%>
</div>