<div align="center">
    <h1 > 
        <%= "Category:" +  @category.name %>
    </h1>
    <div >
    <%= editCategoryByAdmin @category%>
    </div>
    <%= will_paginate @category_articles %> 
    <%= render 'shared/article', obj: @category_articles %> 
    <%= will_paginate @category_articles %>
</div>

 

   
